@font-face {
  font-family: 'universltstd';
  src: url(font/universltstd/universltstd-cn.otf);
}
@font-face {
    font-family: 'universltstd-ultracn';
    src: url(font/universltstd/universltstd-ultracn.otf);
}

.UniversLTStd {
  font-family: 'universltstd';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.universltstd-ultracncn {
  font-family: 'universltstd-ultracncn';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#mainContainer {
  margin: 0 auto;
  width: 80%;
}

#content-section {
  background-color: white;
  margin-top: -18px;
  width: 80%;
}

#menu {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#menu li {
  float: left;
  width: 25%;
  border-right: 1px solid transparent;
}

#menu li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #2f3036;
  font-size: 30px;
  font-family: "universltstd-ultracn";
  text-align: center;
  text-decoration: none;
}

#menu li a:hover {
  background: #003399;
}

#menu li ul {
  display: none;
  position: absolute;
}

#menu li ul li {
  display: block;
  float: none;
  min-width: 250px;
}

#menu li ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

#menu li ul a:hover {
  color: #fff;
}

#menu li:hover a + .hidden, .hidden:hover {
  display: block;
}

.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}

/* Checkbox */
#show-menu {
    display: none;
}

@media screen and (max-width : 760px){
  #menu ul {
    display: none;
  }

  #menu li {
    border-bottom: 1px solid transparent;
    border-right: 0px;
    width: 100%;
  }

  #menu li ul {
    position: static;
  }

  .show-menu {
    display: block;
  }

  #show-menu:checked ~ ul{
    display: block;
  }
}
