<!doctype html>

<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/static/new/cmaps_css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body background="/static/new/images/patterBG.jpg">

<div  align="center">
   <header>
    <img src="/static/new/images/headerv5.png" width="1000" >	<label for="show-menu" class="show-menu">Show Menu</label>
   </header>
</div>
<div  align="center">
	<input type="checkbox" id="show-menu" role="button">
    	<ul id="menu">
		<li><a href="Main_Page.html">Home</a></li>
		<li>
			<a href="#">Tracking</a>
			<ul class="hidden">
				<li><a href="/Track_Map">View Map</a></li>
				<li><a href="/Track_Database">View Database</a></li>
			</ul>
		</li>
		<li><a href="https://sites.google.com/a/knox.nsw.edu.au/knox_stem_2015/">Wiki</a></li>
		<li><a href="#">About</a></li>
	</ul>
</div>
<br><br><br>
<div align="center">
	<section id="content-section">
	        <div class="body" align="left">
			<p style="font-family:universltstd;"> Welcome to Stem</p>
		 </div>
	</section>
</div>
</body>
</html>
