<!doctype html>

<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/static/new/cmaps_css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/new/imagesfavicon.ico">
</head>
    <body background="/static/new/images/patterBG.jpg">

<div  align="center">
   <header>
    <img src="/static/new/images/headerv5.png" width="80%" >	<label for="show-menu" class="show-menu">Show Menu</label>
   </header>
</div>
<div  align="center" id="menu">
	<input type="checkbox" id="show-menu" role="button">
    	<ul>
		<li><a href="/">Home</a></li>
		<li>
			<a href="#">Tracking</a>
			<ul class="hidden">
				<li><a href="/Track_Map">View Map</a></li>
				<li><a href="/Track_Database">View Database</a></li>
				<li><a href="/assignments">Assignments</a></li>
			</ul>
		</li>
		<li><a href="https://sites.google.com/a/knox.nsw.edu.au/knox_stem_2015/">Wiki</a></li>
		<li><a href="#">About</a></li>
	</ul>
</div>
<br><br><br>
<div align="center">
	<section id="content-section">
	        <div class="body" align="centre">
			<p style="font-family:universltstd;">
			   <br>		Welcome to the Cadet Mapping and Positioning System
			<table>
  <tr>
    <th>			<a href="/Track_Map" style="display: block;">
			   <object data="/static/new/images/fi-compass.svg" type="image/svg+xml" height="75%" width="75%" style="pointer-events: none;" ></object>
			</a></th>
    <th>			<a href="/Track_Database" style="display: block;">
			   <object data="/static/new/images/fi-database.svg" type="image/svg+xml" height="75%" width="75%" style="pointer-events: none;" ></object>
			</a></th>
    <th>			<a href="/assignments" style="display: block;">
			   <object data="/static/new/images/fi-clipboard-notes.svg" type="image/svg+xml" height="75%" width="75%" style="pointer-events: none;" ></object>
			</a></th>
  </tr>
</table>
			</p>
		 </div>
	</section>
</div>
</body>
</html>
