<html>
    <body style="background-color: black;">
    <div style="text-align:center;">   
        <h1 style="color:white;">Sign Up</h1>
        <p style="color:white;">Register a new user below.</p>
        <form method="post" action="/signup" style="color:white;">
            Username:<br>
            <input type="text" name="name" style="background-color:lime; color:black;">
            <br>
            Password:<br>
            <input type="text" name="password" style="background-color:lime; color:black;">
            <br>
            <input type="submit" value="Submit" style="color:black;">
        </form>
        
        
        
        <p style="color:white;">Login: {! name !}</p>
        <p style="color:white;">Password: {! password !}</p>
        
        
        <br><br><br>
        
        
        <a href="login" style="text-decoration:none;"><h1 style="color:white">LOGIN PAGE</h1></a>
        
    </body>
</html>