<!doctype html>

<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/static/new/cmaps_css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/static/js/jquery-1.11.3.min.js"></script>
<link rel="icon" type="image/png" href="/static/new/images/favicon.ico">
<style>
tr:nth-child(even){background-color: #2f3036}
</style>
</head>

<body background="/static/new/images/patterBG.jpg">
<div align="center">
   <header>
    <img src="/static/new/images/headerv5.png" width="80%" >	<label for="show-menu" class="show-menu">Show Menu</label>
   </header>
</div>
<div align="center" id="menu">
	<input type="checkbox" id="show-menu" role="button">
    	<ul>
		<li><a href="/">Home</a></li>
		<li>
			<a href="#">Tracking</a>
			<ul class="hidden">
				<li><a href="/Track_Map">View Map</a></li>
				<li><a href="/Track_Database">View Database</a></li>
				<li><a href="/assignments">Assignments</a></li>
			</ul>
		</li>
		<li><a href="https://sites.google.com/a/knox.nsw.edu.au/knox_stem_2015/">Wiki</a></li>
		<li><a href="#">About</a></li>
	</ul>
</div>
<br><br><br>
<div id="mainContainer" style="text-align: center">
        <span id="updateStatus" style="text-align: left; color: white;">Updating Soon</span>
	<table style="color: white;width: 100%;">
		<thead>
			<tr style="font-weight: bold;">
				<td>UUID</td>
				<td>Assigned To</td>
				<td>Assignment Type</td>
				<td>Latitude</td>
				<td>Longitude</td>
				<td>Time (AEST)</td>
			</tr>
		</thead>
		<tbody id="infotable">
		</tbody>
	</table>
</div>
	<script type="text/javascript">
		var up = function(){
			$("#updateStatus").html("Updating NOW");
			$("#updateStatus").css("visibility", 'visible');
			$.ajax({
			  url: "/location/get/all",
			  context: document.body
			}).done(function(data) {
			  var data = JSON.parse(data);

		

                          var tablehtml = '';
                          for (var i = 0; i < data.length; i++) {
				var formattedDate = new Date ();

				tablehtml += '<tr>';
				tablehtml += '<td>' + data[i][0] + '</td>';
				tablehtml += '<td>' + data[i][4] + '</td>';
				if (data[i][5] == '1') {
					tablehtml += '<td>Vehicle</td>';
				} else {
					tablehtml += '<td>Platoon</td>';
				}
				tablehtml += '<td>' + data[i][1] + '</td>';
				tablehtml += '<td>' + data[i][2] + '</td>';
				tablehtml += '<td>' + formattedDate.toLocaleString() + '</td>';
				tablehtml += '</tr>';
			  }

			  $("#infotable").html(tablehtml);
			  $("#updateStatus").html("Updating Soon");
			  $("#updateStatus").css("visibility", 'hidden');
			});

		};
		setInterval("up()", 15000);
		up();		
	</script>
</body>
</html>

